
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    
    <!--Start header-->
    <header class="fixed">
        <div class="container">
            <div class="row">
            <div class="brand-name">
                <a href="" class="logo">Abhishek</a> 
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="#home" class="active">Home</a></li>
                    <li><a href="#about-me">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#progress">Progress</a></li>
                    <li><a href="#contact-us">Contact me</a></li>
                </ul>
            </div>
            </div>
        </div>

    </header>
    <!--End header-->
    <!--Start Home-->
    <section class="home" id="home">
        <div class="container">
            <div class="row full-screen">
                <div class="home-content">
                    <div class="block">
                      <h6>Hello, My name is</h6>
                      <h1>Abhishek Kundu</h1>
                      <h3>Web Developer</h3>
                      <div class="cv-btn">
                          <a href="">Download CV</a>
                      </div>
                    </div>
                 </div>
            </div>
         </div>
    </section>
    <!--End Home-->

    <!--Start About-->
<section class="about-me" id="about-me">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>About Me</h1>
                <p class="small text-uppercase">Information About Me</p>
            </div>
        </div>
        <div class="row">
            <div class="about-content">
                <div class="img">
                  <!--   <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/light-among-the-trees-vertical-felipe-adan-lerma.jpg" alt="about-me" height="600"> -->
                    <img src="./me.jpeg" alt="about-me" height="600">
                </div>
                <div class="text">
                    <h4>I'M Abhishek Kundu</h4>
                    <h6>A Lead <span>UX & UI</span> designer based in <span>India</span></h6>
                      <p>Hi ,I am Abhishek Kundu ,a student from West Bengal, India.Currently ,studying Bachelor Of Technology from Jalpaiguri Govt. Engineering College in Computer Science & Engineering. I enjoy creating beautifully designed, intuitive and functional websites.Available for paid Intership.</p>
                      <div class="info">
                          <div class="list">
                            <label>Birthday:</label>
                            <p>19th September 2000</p>
                          </div>
                          <div class="list">
                            <label>Email:</label>
                            <p>info@domain.com</p>
                          </div>
                          <div class="list">
                            <label>Age:</label>
                            <p>19 Yr</p>
                          </div>
                          <div class="list">
                            <label>Phone:</label>
                            <p>123-456-7890</p>
                          </div>
                          <div class="list">
                            <label>Residence:</label>
                            <p>India</p>
                          </div>
                          <div class="list">
                            <label>Skype:</label>
                            <p>skype.4O4</p>
                          </div>
                          <div class="list">
                            <label>Address:</label>
                            <p>Pratap Bagan, Bankura</p>
                          </div>
                          <div class="list">
                            <label>Freelance:</label>
                            <p>Available</p>
                          </div>
                      </div>
                      <!--Social Links-->
                      <div class="social-links">
                          <a href=""><i class="fa fa-facebook"></i></a>
                          <a href=""><i class="fa fa-twitter"></i></a>
                          <a href=""><i class="fa fa-instagram"></i></a>
                          <a href=""><i class="fa fa-linkedin"></i></a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--End About-->

    <!--Start Skills-->
    <section class="skills" id="skills">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h1>My Skills</h1>
                </div>
            </div>
            <div class="row">
                <div class="skill-content">
                   
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-code"></i>
                            </div>
                            <h5>Compitative Coding</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-usb"></i>
                            </div>
                            <h5>web-development</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-gamepad"></i>
                            </div>
                            <h5>Gaming</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <h5>Mobile Photography</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-book"></i>
                            </div>
                            <h5>Story-book Reading</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-bug"></i>
                            </div>
                            <h5>Bug Finding</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                
                </div>
            </div>
        </div>
    </section>
    <!--End Skills-->

    <!--Start progress-->
    <section class="progress" id="progress">
        <h1>My progress</h1>

        <li>
<h3> HTML</h3><span class="bar"><span class="html"></span></span>
        </li>

        <li>
 <h3> CSS</h3><span class="bar"><span class="css"></span></span>
        </li>

         <li>
 <h3> JAVA-SCRIPT</h3><span class="bar"><span class="java-script"></span></span>           
        </li>

         <li>
 <h3> C</h3><span class="bar"><span class="c"></span></span>
        </li>

        <li>
 <h3> Java</h3><span class="bar"><span class="java"></span></span>
         </li>

         <li>
 <h3> PYTHON</h3><span class="bar"><span class="python"></span></span>
         </li>

    </section>
    <!--End Progress-->

    <!--Start Contact-us-->

    <section class="contact-us" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h1>Get In Touch</h1>
                </div>
            </div>
            <div class="row">
                <div class="contact-form">
                    <div class="row">
                        <div class="text">
                            <h2>Drop Us a line</h2>
                            <p>We are here to answer any question you may have</p>
                        </div>
                    </div>
                    <div class="row space-between">
                        <div class="col-6">
                            <input type="text" class="form-control" name="" placeholder="Name">  
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" name="" placeholder="Email">            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                              <textarea class="form-control" placeholder="Your-Comment">
                              </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button text-right">
                            <a href="">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End Contact-us-->
<!--Start Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="logo">
                Abhishek
            </div>
            <div class="social">
                 <a href=""><i class="fa fa-facebook"></i></a>
                 <a href=""><i class="fa fa-twitter"></i></a>
                 <a href=""><i class="fa fa-instagram"></i></a>
                 <a href=""><i class="fa fa-linkedin"></i></a>
                 <a href=""><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->

<!--Start Copyright-->
<section class="copyright">
    <div class="container">
        <p>&copy; 2020 copyright all right reserved</p>
    </div>
</section>
<!--End Copyright-->

</body>
</html>



